:root {
    --circle-dx: 30px;
    --circle-spacing: 7px;
}

.timeline-starter {
    display: flex;
    position: absolute;
    width: 2px;
    height: 80px;
    background-color: var(--red);
    bottom: 0;
    left: 10%;
    justify-content: center; 
}

.circle {
    position: absolute;
    width: var(--circle-dx);
    height: var(--circle-dx);
    border-radius: 50%;
    background-color: var(--red);
}

.circle:after {
    content: '';
    position: absolute;
    width: calc(var(--circle-dx) + var(--circle-spacing));
    height: calc(var(--circle-dx) + var(--circle-spacing));
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}