.timeline-starter {
    display: flex;
    flex-flow: column;
    height: 80px;
    align-items: center;
    width: 30px;
}

.circle, .line {
    background-color: var(--red);
}

.circle {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.circle::after {
    content: '';
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.line {
    width: 2px;
    flex: 1;
    z-index: 1;
}