h1.headline {
    color: white;
    text-align: center;
    font-size: 86px;
    padding: 40px 0 10px 0;
    letter-spacing: 4px;
}

h2.info-title, h2.subtitle {
    color: var(--purple);
}

h2.subtitle {
    font-size: 44px;
    letter-spacing: 8px;
}

h2.info-title {
    font-size: 32px;
    font-weight: 600;
    padding: 15px 0;
    margin: 0;
}

p.info-text {
    font-weight: 400;
    color: var(--brown);
}